
.acharacter label:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
    transform-origin: center center;
    transform: rotate(180deg);
    font-size: larger;
}
label[for=showwindow] {
    position: absolute;
    right: 5px;
    z-index: 2;
    top: 5px;
}


body {
    margin: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.wrapper {
    margin: 0;
    padding: 1em 1em 1em 0;
    width: 100vw;
    height: 100vh;
    display: block;
    overflow-x: hidden;
}

.wrapper .toggle-display {
    transition: 0.5s;
    position: absolute;
    left:0px;
    top: calc(100% - 150px);
    height: 100px;
    background:rgba(0,0,0,0.1);
    z-index: 1;
}

.wrapper:hover .toggle-display {
    left: calc(min(50px,5vw) + 10px);
}
#showwindow {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
}

#showwindow+div.display-window {
    display: none;
}

#showwindow:checked+div.display-window {
    display: block;
}

.display-window {
    position: absolute;
    left: 0;
    top: calc(50% - 125px);
    height: 250px;
    width: 220px;
    z-index: 2;
}

#campcharacters {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
}

#characters {
    position: absolute;
}

#characters > div{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

input[name=showcreen]:checked + div {
    display: grid !important;
}
input[name="showcreen"]:not(:checked) + div {
    display: none !important;
}
input[type=radio] {
    position: absolute;
    left: -999999px;
    width:0;
    height:0;
}