
.acharacter label:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
    transform-origin: center center;
    transform: rotate(180deg);
    font-size: larger;
}
label[for=showwindow] {
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 2;
}


body {
    margin: 1em;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: calc(100% - 2em);
    margin: 0;
}

.wrapper .toggle-display {
    position: absolute;
    right: 0;
    top: calc(50% - 50px);
    height: 100px;
    width: min-content;
    background:white;
}
.wrapper .toggle-display * {
    border: thin solid red;
}

#showwindow {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
}

#showwindow+div.display-window {
    display: none;
}

#showwindow:checked+div.display-window {
    display: block;
}

.display-window {
    position: absolute;
    left: 0;
    top: calc(50% - 125px);
    height: 250px;
    width: 220px;
}

#campcharacters {
    list-style-type: none;
    text-align: center;
    padding-left: 0px;
}

#characters {
    position: absolute;
}

#characters > div{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

input[name=showcreen]:checked + div {
    display: grid !important;
}
input[name="showcreen"]:not(:checked) + div {
    display: none !important;
}
input[type=radio] {
    position: absolute;
    left: -999999px;
    width:0;
    height:0;
}