.display-screen {
    background: rgba(0, 0, 0, 0.9);
    color: goldenrod;
    border: 2px solid goldenrod;
    width: 20em;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}

.acharacter {
    width: 20em;
    display: grid;
    grid-template-areas:
        "title title title title title title"
        "meta meta meta meta meta meta"
        "level level level level level level"
        "hp hp hp ac ac ac"
        "str str dex dex con con"
        "wis wis int int cha cha";
    grid-template-rows: 2fr 0fr repeat(4,2fr);
}

.acharacter label:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
    transform-origin: center center;
    transform: rotate(180deg);
    font-size: larger;
}
label[for=showwindow] {
    position: absolute;
    top: 0;
    right: 5px;
    z-index: 2;
}

.acharacter div {
    text-align: center;
    font-size: 1.8em;
}


.acharacter div.name {
    grid-area: title;
    font-size: 2em;
}


.acharacter div.meta {
    grid-area: meta;
    font-size: 1.2em;
}


.acharacter div.level {
    grid-area: level;
}


.acharacter div.maxhp {
    grid-area: hp;
}


.acharacter div.ac {
    grid-area: ac;
}


.acharacter div.str {
    grid-area: str;
}


.acharacter div.dex {
    grid-area: dex;
}


.acharacter div.con {
    grid-area: con;
}


.acharacter div.wis {
    grid-area: wis;
}


.acharacter div.int {
    grid-area: int;
}


.acharacter div.cha {
    grid-area: cha;
}

#campname { 
    text-align: center;
}
#campsummary {
    text-align: center;
}